<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title> Internal Server Error </title>
    </head>
    <body>
        <h1 class="ErrorPage"> 500 Internal Server Error </h1>
        <p class="ErrorPagePara"> Something , went wrong please come back after some time . </p>
    </body>
</html>